.banner_img {
  background-image: url(https://res.cloudinary.com/diyo6qdy1/image/upload/v1647981100/videolib/Finalpddev_uvxwl9.png);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.home_banner {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: calc(100vh - 73px);
  text-align: center;
  opacity: 0.9;
}

.banner_text {
  background-color: var(--mint-white);
  opacity: 0.7;
}
.section_heading {
  font-size: 1.2rem;
}

.letter-space {
  letter-spacing: 0.1rem;
}

.arrows {
  width: 3.75rem;
  height: 4.5rem;
  position: absolute;
  left: 50%;
  margin-left: -1.875rem;
  bottom: 1.25rem;
}

.arrows path {
  stroke: var(--dark-blue);
  fill: transparent;
  stroke-width: 3px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

.pointer {
  cursor: pointer;
}

.signup-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
  height: 80vh;
}

.signup-form {
  padding: 1rem 2rem;
  min-width: 30%;
  border: 1px solid var(--light-black);
}

.icon-gray {
  color: var(--light-black);
  cursor: pointer;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.align-item {
  align-items: center;
}

.video_title {
  font-size: 1rem;
}
.card-info {
  padding: 0.3rem;
}

/* this will provide in ci later */
.grid-container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}

/*Playlist css*/

.playlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.playlist_container {
  display: inline-block;
  width: 45%;
  padding: 0.5rem;
  border: 1px solid var(--light-black);
}

.video_card {
  min-width: 15rem;
  margin: 0.2rem;
}

.video_image {
  height: clamp(9rem, 11rem, 13rem);
}

.playlist_header {
  border-bottom: 1px solid var(--dark-blue);
}

/* menu for profile */

.menu {
  position: absolute;
  top: 46px;
  right: 0px;
  padding: 0.2rem 1.5rem;
  background: var(--mint-white);
  min-width: 8.2rem;
  box-sizing: 0 0.3125rem 1.5625rem var(--light-black);
  border-radius: 10px;
  transition: 0.5s;
  border: 1px solid var(--primary-color);
  z-index: 1;
}

.menu.active {
  top: 80px;
  visibility: visible;
  opacity: 1;
}

.menu h3 {
  width: 100%;
  text-align: center;
  font-size: 1.125rem;
  padding: 1.25rem 0;
  font-weight: 500;
  color: var(--light-black);
  line-height: 1.5em;
}

.menu h3 span {
  font-size: 14px;
  color: var(--light-blue);
  font-weight: 300;
}

.menu ul li {
  list-style: none;
  border-top: 1px solid var(--light-black);
  display: flex;
  align-items: center;
}

.menu ul li a {
  display: inline-block;
  text-decoration: none;
  color: var(--light-black);
  font-weight: 500;
  transition: 0.5s;
}

.menu ul li:hover a {
  color: var(--light-blue);
}

.addplaylist {
  border: 1px solid var(--dark-black);
  padding: 0.4rem;
}

.playlistmodel {
  background-color: transparent;
}

/*single video page css*/

.video_player_react div div iframe {
  height: 27rem;
}
.video_watch_left {
  height: inherit;
  flex-basis: 50rem;
}

.video_watch_details {
  margin-bottom: 0.5rem;
}

.video_watch_right {
  flex-basis: 30rem;
}

.video_player_react {
  height: 29.25rem;
}

.video_hz_card {
  min-width: 35rem;
}

.video_left_text {
  text-overflow: ellipsis;
  font-size: 1.3rem;
}

.text_ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 0.1rem;
}
.right_button_part {
  flex-basis: 30%;
}

@media (max-width: 900px) {
  .arrows {
    display: none;
  }
}

@media (max-width: 767px) {
  .rs-row {
    grid-template-columns: repeat(2, 1fr);
  }
  .right_button_part {
    flex-basis: 61%;
  }

  .arrows {
    display: none;
  }

  .home_banner {
    height: calc(33vh - 73px);
  }

  .section_box {
    margin: 1rem;
  }

  .card-rs {
    min-width: 28rem;
  }
}
